<% content_for :head_title do %>Event Series Management<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav',:locals => {:param => "myracemenu"}%><% end %>
<% content_for :top_area do %><%= render :partial => 'director/shared/top_nav', :locals => {:step => "2"}%><% end %>
<table width="900" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6">&nbsp;</td>
<td width="774" align="center" valign="bottom" class="tableHEAD"><p>Event Series Management</p></td>
<td width="120" class="sidebarHeaderText">Featured Events </td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="content_bg">
	<% form_tag({:controller => "setup", :action => "series"}, {}) do%>
	<div id="director_table_holder">
		<div style="padding-right:10px;padding-left:20px;padding-top: 3px;	padding-bottom: 3px;">
			<%= show_error(flash[:notice])%>
		</div>
		
		<table width="100%" cellspacing="0">
			<% if @series.size == 0%>
			<tr class="director_row1">
				<td width="20px"></td>
				<td colspan="2">You do not have any event series defined. Create your first one:</td>
			</tr>
			<% elsif @dir_event.event_series_id.nil? == false%>
			<tr class="director_row1">
				<td width="20px"></td>
				<td colspan="2">This event is part of the <strong><%= @dir_event.event_series.name%></strong> series.</td>
			</tr>
			<% end%>
			<tr class="director_row1">
				<td width="20px"></td>
				<td colspan="2" align="center"><%= ok_button_image(true) %>
			</tr>
			
			
		</table>
      <br/>
      
	</div>
	<% end %>
</td>
<td width="120" rowspan="2" align="left" valign="top" id="ads"><%= render :partial => 'shared/ads'%></td>
<td style="padding-right:10px;"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td id="tableBOTTOMshadow">&nbsp;</td>
</tr>
<%= render :partial => 'shared/footer'%>
</table>