<% content_for :head_title do %>Create a New Event - Event Location<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav',:locals => {:param => nil}%><% end %>
<% content_for :top_area do %><%= render :partial => 'add_event/top_nav', :locals => {:event => @event, :step => "4"}%><% end %>
<% content_for :extra_head do %>
	
	<%= javascript_include_tag "default-values" %>
<% end %>
<table width="900" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6">&nbsp;</td>
<td width="774" align="center" valign="bottom" class="tableHEAD"><p>Event Location</p></td>
<td width="120" class="sidebarHeaderText">Featured Events </td>
</tr>
<tr>
<td>&nbsp;</td>
<td id="tableROWS">
	<% form_tag(:controller => "add_event", :action => "location") do%>
		<%= render :partial => 'director/setup/location'%>
	<table border="0" align="center" cellpadding="5" cellspacing="0" id="formText">
		<tr>
			<td align="center" colspan="2"><%= link_to back_button_image, :action => "date_info" %><%= next_button_image(true) %></td>
		</tr>
	</table>
	<% end %>
</td>
<td width="120" rowspan="2" align="left" valign="top" id="ads"><%= render :partial => 'shared/ads'%></td>
<td style="padding-right:10px;"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td id="tableBOTTOMshadow">&nbsp;</td>
</tr>
<%= render :partial => 'shared/footer'%>
</table>