<% content_for :head_title do %>Events Calendar: <%= @event.name %><% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => "calendar"}%><% end %>
<% content_for :top_area do %><%= render :partial => 'events/search_filter', :locals => {:dest => "/events/calendar", :search_state => @state, :search_req => @search_req}%><% end %>



<table width="900" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="6">&nbsp;</td>
    <%= render :partial => 'events/list_header', :locals => {:events => @events, :hide_header => true}%>



    <td width="120" class="sidebarHeaderText">Featured Events </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    


		<td id="tableROWS">

			<div id="event_<%=@event.id%>_top_con">
			<%= render :partial => 'events/event_row', :locals => {:event => @event, :mode => "single" }%>
			</div>

		<div align="center" style="text-align:center;">
		<%= #will_paginate(events) 
		%>
		</div>

		</td>







    <td align="left" valign="top" id="ads" width="120">
    	<%= render :partial => 'shared/ads'%>
    	
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td id="tableBOTTOMshadow">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <%= render :partial => 'shared/footer'%>
</table>