<% content_for :head_title do %>RaceMenu art<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => nil}%><% end %>
<% content_for :top_area do %>	<%= image_tag "header500.jpg", :style=>"padding-left:130px;margin-top:16px;" %>
	
	<% end %>
<table width="900" border="0" cellspacing="0" cellpadding="0">
  	<tr>
            <td width="6">&nbsp;</td>
            <td width="774" align="center" valign="bottom" class="tableHEAD"><p>RaceMenu Art</p></td>
            <td width="120" class="sidebarHeaderText">Featured Events </td>
          </tr>
  <tr>
    <td>&nbsp;</td>
<td id="tableROWS">
	
	
	<%= render :partial => 'director/marketing/art'%>
	
	
</td>
    <td align="left" valign="top" id="ads" width="120">
    	<%= render :partial => 'shared/ads'%>
    	
	</td>
	<td style="padding-right:10px;"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td id="tableBOTTOMshadow">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <%= render :partial => 'shared/footer'%>
</table>