
	<td><!-- empty td --></td>
	
	<td><%= waitlist_row.created_at.strftime('%m/%d/%Y') %></td>
	<td><%= waitlist_row.race.name %></td>
	<td><%= waitlist_row.rm_user.name %></td>
	
	<td><%= age(waitlist_row.birthday, waitlist_row.event.event_date) %></td>
	<td><%= waitlist_row.email %></td>
	<td> <% unless waitlist_row.is_invited %>
		<%= link_to_remote "Invite",:url => {:action => 'invite_from_waiting'}, 
			:with => "'wlid=' + #{waitlist_row.id}", :confirm => 'Send invitation to user?' %>
		<% else %>
			Invited
		<% end -%>
	</td>
