<% content_for :head_title do %>Download Merchandise Data<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav',:locals => {:param => "myracemenu"}%><% end %>
<% content_for :top_area do %><%= render :partial => 'director/shared/top_nav', :locals => {:step => "3"}%><% end %>
<% content_for :extra_head do %>
	<%= calendar_date_select_includes "red"%>
<% end %>
<table width="900" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6">&nbsp;</td>
<td width="774" align="center" valign="bottom" class="tableHEAD"><p>Download Merchandise Data</p></td>
<td width="120" class="sidebarHeaderText">Featured Events </td>
</tr>
<tr>
<td>&nbsp;</td>
<td id="tableROWS">
	<% form_tag(:controller => "registration", :action => "export_merch") do%>
	<table width="500px" border="0" align="center" cellpadding="5" cellspacing="0">
		
  		<tr>
	    <td align="right">Type</td>
	    <td width="370px"><%= select( "export_e", "merch", @dir_event.merch_cats_for_select, {}, :class => "search_form_input") %></td>
	  </tr>
	   <tr>
	    <td align="right">Download</td>
	    <td><%= select( "export_e", "reg_type", EventRegistration::REG_TYPES_STR, {}, {:class => "search_form_input"}) %></td>
	  </tr>
	  <tr>
	    <td align="right">Download</td>
	    <td><%=radio_button_tag 'export_e[dates][]', "1", true, {:onclick => "toggleExtraDates(false)"} %>All Dates <%=radio_button_tag 'export_e[dates][]', "2", false, {:onclick => "toggleExtraDates(true)"} %>Range</td>
	  </tr>
	  <tr>
	  		<td align="right"></td>
			<td>
				<div id="extra_dates" style="display:none;">
					<table >
					  <tr>
					    <td align="left">From:</td>
					    <td><%= calendar_date_select_tag "s_date_and_time", @s_date_and_time, :time => true, :class => "search_form_input" %></td>
					  </tr>
					  <tr>
					    <td align="left">To:</td>
					    <td><%= calendar_date_select_tag "e_date_and_time", @e_date_and_time, :time => true, :class => "search_form_input" %></td>
					  </tr>
	   				</table>
				</div>
			</td>
	  </tr>
	  <tr>
			<td align="center" colspan="2"><%= download_button_image(true) %><%= link_to cancel_button_image, {:action => "index"} %>
			</td>
		</tr>  
	</table>
	<% end %>
	
</td>
<td width="120" rowspan="2" align="left" valign="top" id="ads"><%= render :partial => 'shared/ads'%></td>
<td style="padding-right:10px;"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td id="tableBOTTOMshadow">&nbsp;</td>
</tr>
<%= render :partial => 'shared/footer'%>
</table>
<script type="text/javascript">
	function toggleExtraDates(visible) {
		
		if(visible == true) {
			$('extra_dates').show();
		}
		else {
			$('extra_dates').hide();
		}
	}
</script>