<table width="99%" id="formText" cellspacing="3">
	<tr>
		<td>&nbsp;</td>
		<td align="center">Transparent background</td>
		<td align="center">White background</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td align="right">100px wide</td>
		<td align="center"><%= image_tag('art/pb_rm_tr_100.png')%></td>
		<td align="center"><%= image_tag('art/pb_rm_wh_100.gif')%></td>
	</tr>
	<tr><td colspan="3"><hr/></td></tr>
	<tr>
		<td align="right">150px wide</td>
		<td align="center"><%= image_tag('art/pb_rm_tr_150.png')%></td>
		<td align="center"><%= image_tag('art/pb_rm_wh_150.gif')%></td>
	</tr>
	<tr><td colspan="3"><hr/></td></tr>
	<tr>
		<td align="right">200px wide</td>
		<td align="center"><%= image_tag('art/pb_rm_tr_200.png')%></td>
		<td align="center"><%= image_tag('art/pb_rm_wh_200.gif')%></td>
	</tr>
	<tr><td colspan="3"><hr/></td></tr>
	<tr>
		<td align="right">300px wide</td>
		<td align="center"><%= image_tag('art/pb_rm_tr_300.png')%></td>
		<td align="center"><%= image_tag('art/pb_rm_wh_300.gif')%></td>
	</tr>
</table>