<tr class="<%= style %>">
	<td></td>
	<td colspan=2 style="padding:10px 0;"> <span style="margin-right:10px;"><%= question.title %></span>
		<input type="hidden" id="questions_<%= question.id %>_id" name="question_ids[]" 
		value="<%= question.id %>" class="search_for_input" />

		<% if question.question_type == Question::SINGLE_LINE_TEXT %>
			<input type="text" id="question_<%= question.id %>_dname" name="question[<%= question.id %>][dname]" 
			value="<%= question.dname %>" class="search_form_input"/>

		<% elsif question.question_type == Question::MULTI_LINE_TEXT%>
			<%= text_area(:question,:dname, question.dname, {:class => "search_form_input"}) %>

		<% elsif question.question_type == Question::DROPDOWN_LIST%>
			<%= select :event, :state, question.question_options.collect {|p| [ p.title, p.id ] },
				{ :prompt => ' --Select option-- '},  {:class => "search_form_input"} %>

		<% elsif question.question_type == Question::CHECKBOXES%>
			<b>Options :</b> <%= question.question_options.map{ |o| o.title }.join( ', ' ) %>

		<% elsif question.question_type == Question::RADIO_BUTTONS%>
			<b>Options :</b> <%= question.question_options.map{ |o| o.title }.join( ', ' ) %>

		<% end %>
	</td>
	</td>
</tr>
