<% content_for :head_title do %>Event Registration - <%= athlete_info_title(@race)%><% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => nil}%><% end %>
<% content_for :top_area do %><%= render :partial => 'register/reg_top_nav', :locals => {:event => @event, :step => "5"}%><% end %>


<table width="900" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="6">&nbsp;</td>
		<td width="774" align="center" valign="bottom" class="tableHEAD"><p>
		<%= answer_questions_title(@race)%></p></td>
		<td width="120" class="sidebarHeaderText">Featured Events </td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	<td class="content_bg">
		<div style="width:100%;margin-left:-18px;padding-top:4px;text-align:center;">
			<%= header_image(@event) %>
		</div>
		<div>
			<% form_tag({:controller => 'register', :action => "answer_questions"}, 
					{:name => "answer_questions", :onSubmit => 'return validate()'}) do %>
			  
					<table border="0" align="center" cellpadding="5" cellspacing="0" id="formText" valign="top">
					 <tr><td></td><td>
					<%= error_messages_for "event_registration", :header_message => nil, :message => nil %></td></tr>
					
					<!-- answer table -->
					
						<td>
							<div id="regisrter_table_holder">
								<table width="100%" cellspacing="0">
									<tr class="register_header_row">
										<td></td>
										<td colspan="3">Custom questions:</td>
									</tr>
									
									<% Event.find(4626).questions.each do | ques | %>
										<%= render :partial => 'answer_row',
			                            :locals => {:style => cycle('director_row1', 'director_row2'), 
			                            :question => ques } %>
									<% end %>
									
									
								</table>
							</div>
						</td>
					</tr>
	
						
						
					</table>
			<% end -%>
		</div>	
	</td>
	</tr>

</table>