<% content_for :head_title do %>My Managed Events<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => "myracemenu"}%><% end %>
<% content_for :top_area do %><%= render :partial => 'myracemenu/mrm_top', :locals => {:param => nil, :show_buddies => true}%>
<% end %>

<table width="900" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="6">&nbsp;</td>
            <%= render :partial => 'events/list_header', :locals => {:events => @upcoming_events, :hide_header => true}%>
            <td width="120" class="sidebarHeaderText">Featured Events </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <%= render :partial => 'events/list_events', :locals => {:events => @upcoming_events, :mode => "manage"}%>
<td align="left" valign="top" id="ads" width="120" >
	<div style="height:150px;
	overflow:visible;">            
	<%= render :partial => 'shared/ads'%>
	</div>
</td>
<td style="padding-right:10px;"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td id="tableBOTTOMshadow">&nbsp;</td>
            </tr>
          
         
          <%= render :partial => 'shared/footer'%>
        </table>